@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap');

*{
    
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: white;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8aae3;
    height: 80px;
 
}

header h1{
    font-size: 60px;
    color: white;
    font-family: "Yesteryear", cursive;
    font-weight: normal;

}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    border: 1px solid red;
}
.box-img{
    display: flex;
    justify-content: center;
    width: 35%;
    border:1px solid blue;

}
.box-txt{
    display: flex;
    flex-flow: row wrap;
    width: 35%;
    border:1px solid green;

}
.box-txt span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.box-txt h2{
    font-family: "DM Sans", sans-serif;
    font-size: 80px;
    color:#ce44c3;
    font-weight: 800;
    margin-top: 30px;
    line-height: 70px;
}

.box-txt p{
    color: gray;
}
.btn-hero{
    background-color: #ce4ec4;
    padding: 15px 25px;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 30px;
}

.btn-hero:hover{
    background: green;
}